
.imgg{
    height:130px;
    width: 100%;
    background-size: contain;
}

.head_name{
    margin:20px 20vw ;
    width: 16em;
}


main .image .t1{
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin-top: 20px;
}
main .image .t2{
    display: flex;
    justify-content: center;
    font-size: 29px;
}
main .card{
    display: flex;
    justify-items: center;
    margin-left: 19%;
    margin-right: 15%;

}

.t3{
    font-family: "Manrope", sans-serif;;
    background-color: #6366f1;
    /* box-shadow: 0 .5rem 1.125rem -0.5rem rgba(99,102,241,.9) !important; */
}
.t3:hover{
    background-color: #4044ee;
    box-shadow: none;
}

.form-inline .form2{
    /* display: flex;
    justify-items: center; */
    align-items: center;
    margin-right: 10px;
}

.form-inline .form-control{
    width: 200px;
}

.form-inline{
    margin: 0 30px;
    margin-top: 25px;
}

.form-inline .subh2{
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 20PX;
}

.form-inline .form3{
    display: inline-block;
    width: 300px;
    line-break: anywhere;
}
.span1{
    margin-left: 29px;
    color: #6366f1;
}

header .logo{
    height: 24px;
}

.rounded-circle{
    height: 100px;
    width: 100px;
    margin-left: 35%;
}

#t1:checked{
    color: red;
}

#img_2{
    height: 100px;
    margin-left: 60px;
    position: absolute;
    right: 0px;
}
.card .card-body .nw{
    padding-bottom: 50px;
}
.mb-2{
    margin-top: 1rem;
}



